In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/user/Documents/Spiced/course_material/week01/data/large_countries_2015.csv')

In [3]:
df.head()

      country    population  fertility      continent
0  Bangladesh  1.609956e+08       2.12           Asia
1      Brazil  2.078475e+08       1.78  South America
2       China  1.376049e+09       1.57           Asia
3       India  1.311051e+09       2.43           Asia
4   Indonesia  2.575638e+08       2.28           Asia

In [4]:
df.columns

Index(['country', 'population', 'fertility', 'continent'], dtype='object')

In [5]:
df.columns.str.strip()

Index(['country', 'population', 'fertility', 'continent'], dtype='object')

you use the strip() method to pull out the trailing and leading white spaces in index, but you need to convert to a string first, thus the .str first

strip can be used to remove other things too, just enter the params

In [6]:
df.shape #just basic investigation

(12, 4)

In [8]:
df.count() #different way to look at the same

country       12
population    12
fertility     12
continent     12
dtype: int64

In [9]:
df['continent'].value_counts()

continent
Asia             7
North America    2
South America    1
Africa           1
Europe           1
Name: count, dtype: int64

describe output changes dependent on datatype, you need to explicitly name string columsn else it shows numbers primarily

In [12]:
df.population.describe()

count    1.200000e+01
mean     3.753462e+08
std      4.565194e+08
min      1.006994e+08
25%      1.393470e+08
50%      1.855634e+08
75%      2.736163e+08
max      1.376049e+09
Name: population, dtype: float64

In [11]:
df['country'].describe() #only shows information that is numberical

count             12
unique            12
top       Bangladesh
freq               1
Name: country, dtype: object

In [13]:
df.describe()

         population  fertility
count  1.200000e+01  12.000000
mean   3.753462e+08   2.437500
std    4.565194e+08   1.200781
min    1.006994e+08   1.450000
25%    1.393470e+08   1.737500
50%    1.855634e+08   2.125000
75%    2.736163e+08   2.567500
max    1.376049e+09   5.890000

In [14]:
df['population'].describe().to_frame()
#df[['population']].describe()
#these force it to be a dataframe rather than a series

         population
count  1.200000e+01
mean   3.753462e+08
std    4.565194e+08
min    1.006994e+08
25%    1.393470e+08
50%    1.855634e+08
75%    2.736163e+08
max    1.376049e+09

aggretation functions
always needed when doing groupby

In [18]:
df.agg(['count', 'sum'])

,country,population,fertility,continent
count,12,1.200000e+01,12.00,12
sum,BangladeshBrazilChinaIndiaIndonesiaJapanMexico...,4.504154e+09,29.25,AsiaSouth AmericaAsiaAsiaAsiaAsiaNorth America...

In [19]:
#df.agg(['mean','median',]) #this one throws errors

TypeError: Could not convert BangladeshBrazilChinaIndiaIndonesiaJapanMexicoNigeriaPakistanPhilippinesRussiaUnited States to numeric

groupby

In [25]:
#df.groupby('continent')[['population', 'fertility']].mean()
df.groupby('continent').mean(numeric_only=True)

                 population  fertility
continent
Africa         1.822020e+08   5.890000
Asia           5.031224e+08   2.267143
Europe         1.434569e+08   1.610000
North America  2.243954e+08   2.050000
South America  2.078475e+08   1.780000

In [26]:
grouped_df = df.groupby('continent')

In [28]:
grouped_df.get_group('Asia') #this is how you can pull specific values
#df[df['continent']== 'Asia']

       country    population  fertility continent
0   Bangladesh  1.609956e+08       2.12      Asia
2        China  1.376049e+09       1.57      Asia
3        India  1.311051e+09       2.43      Asia
4    Indonesia  2.575638e+08       2.28      Asia
5        Japan  1.265735e+08       1.45      Asia
8     Pakistan  1.889249e+08       3.04      Asia
9  Philippines  1.006994e+08       2.98      Asia